<mat-grid-list cols="6" gutterSize="20px">
  <mat-grid-tile *ngFor="let recipe of recipeList" (click)="goToCookingGuide(recipe)" class="dis-block">
    <div>
      <img [src]="recipe.Image" alt="Photo of the dish" [style.width.%]="100">
      <div class="p-10">
        <div class="text-center pt-5 pb-10">{{recipe.Name}}</div>
        <div class="text-center">
          <mat-icon *ngFor="let x of [1,2,3,4,5]; index as i" [ngClass]="recipe.Rating < x ? 'color-gray' : 'color-yellow'">grade</mat-icon>
        </div>
      </div>
    </div>
    </mat-grid-tile>
</mat-grid-list>
